<!--The content below is only a placeholder and can be replaced.-->
<div id="decay">
  <h2>Calculate Radioactive Decay</h2>
  <br><br>
  <table>
      <tr>
        <td>Initial Sample:</td>
        <td><input [(ngModel)]="sample" class="initial_sample" (input)="changeSample($event)" id="sample" type="number" min="0" max="100"> g</td>
      </tr>
      <tr>
        <td>Half Life: </td>
        <td><input [(ngModel)]="half_life" class="half_life" (input)="changeHalfLife($event)" id="half_life" type="number" min="50" max="100"> years</td>
      </tr>
      <tr>
        <td>Decay Time: </td>
        <td><input [(ngModel)]="decay" class="decay" id="decay_time" (input)="changeDecay($event)" type="number" min="0" max="1000"> years 
          <mat-slider
            thumbLabel
            [displayWith]="formatLabel"
            min="{{min_steps}}"
            max="{{max_steps}}"
            value={{decay}}
            percent="100"
            (input)="changeYears($event)"></mat-slider></td>
      </tr>
    </table>
    <hr>
    <div class="atom">
        <div class="used-atoms">
          <div class="img-atoms" [style.width.%]="atom_width">
              <img *ngFor='let in of counter(20) ;let i = index' src="assets/images/atom.png" alt="logo" style="height: 50px; width: 50px;">
          </div>
        </div>
        
        <div class="unused-atoms">
            <img *ngFor='let in of counter(20) ;let i = index' src="assets/images/atom-orange.png" alt="logo" style="height: 50px; width: 50px;">
        </div>
    </div>
    <table>
      <tr>
        <td><b>Remaining Sample: </b></td>
        <td><h3>{{ result }}</h3></td>
      </tr>
    </table>
</div>


